<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Telegram_bot_Beta.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Telegram_bot_Beta.Settings>
            <setting name="Token" serializeAs="String">
                <value>881849162:AAFum6rKVwIVp0Xc0vCwOHxyT8KFmFFVzn8</value>
            </setting>
            <setting name="Link" serializeAs="String">
                <value>https://api.telegram.org/bot</value>
            </setting>
        </Telegram_bot_Beta.Settings>
    </userSettings>
</configuration>